html(lang="it-IT")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Green Mobility - #{title}
        link(rel="stylesheet", href="style.css")
    body 
        header 
            include header

        block content


        footer 
            include footer
